{% extends 'bookings/base.html' %}
{% block title %}Sign up{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-sm-10 col-md-7 col-lg-5">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h1 class="h4 mb-3">Create an account</h1>
        <form method="post" action="{% url 'signup' %}" novalidate>
          {% csrf_token %}
          {% include 'registration/_form_fields.html' %}
          <button type="submit" class="btn btn-warning w-100">Sign up</button>
        </form>
        <p class="small text-center mt-3 mb-0">Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
